<style>
    .photo-galary{
        column-count: 3;
        width: 100%;
        margin:auto;
    }
    .photo-galary-img img{
        width: 100%;
        border-radius: 10px;
        margin-bottom: 15px;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
        cursor: pointer;
    }
    .photo-galary-img img:hover{
        position: relative;
        top: -2px;
    }
</style>

<div class="photo-galary" >
    <div class="photo-galary-img">
        <img src="/static/photogalary/Common-Kingfisher/Common-Kingfisher_124.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Common-Kingfisher/Common-Kingfisher_15.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Common-Kingfisher/Common-Kingfisher_164.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Common-Kingfisher/Common-Kingfisher_172.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Common-Kingfisher/Common-Kingfisher_18.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Common-Kingfisher/Common-Kingfisher_227.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Common-Kingfisher/Common-Kingfisher_46.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Common-Kingfisher/Common-Kingfisher_54.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Common-Kingfisher/Common-Kingfisher_64.jpg" alt="img">
    </div>
</div>