<style>
    .photo-galary{
        column-count: 3;
        width: 100%;
        margin:auto;
    }
    .photo-galary-img img{
        width: 100%;
        border-radius: 10px;
        margin-bottom: 15px;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
        cursor: pointer;
    }
    .photo-galary-img img:hover{
        position: relative;
        top: -2px;
    }
</style>

<div class="photo-galary" >
    <div class="photo-galary-img">
        <img src="/static/photogalary/Indian-Peacock/Indian-Peacock_121.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Indian-Peacock/Indian-Peacock_123.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Indian-Peacock/Indian-Peacock_174.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Indian-Peacock/Indian-Peacock_232.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Indian-Peacock/Indian-Peacock_295.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Indian-Peacock/Indian-Peacock_304.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Indian-Peacock/Indian-Peacock_347.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Indian-Peacock/Indian-Peacock_369.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Indian-Peacock/Indian-Peacock_389.jpg" alt="img">
    </div>
</div>