<style>
    .photo-galary{
        column-count: 3;
        width: 100%;
        margin:auto;
    }
    .photo-galary-img img{
        width: 100%;
        border-radius: 10px;
        margin-bottom: 15px;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
        cursor: pointer;
    }
    .photo-galary-img img:hover{
        position: relative;
        top: -2px;
    }
</style>

<div class="photo-galary" >
    <div class="photo-galary-img">
        <img src="/static/photogalary/Indian-Roller/Indian-Roller_115.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Indian-Roller/Indian-Roller_150.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Indian-Roller/Indian-Roller_167.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Indian-Roller/Indian-Roller_172.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Indian-Roller/Indian-Roller_184.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Indian-Roller/Indian-Roller_214.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Indian-Roller/Indian-Roller_253.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Indian-Roller/Indian-Roller_462.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Indian-Roller/Indian-Roller_486.jpg" alt="img">
    </div>
</div>