<style>
    .photo-galary{
        column-count: 3;
        width: 100%;
        margin:auto;
    }
    .photo-galary-img img{
        width: 100%;
        border-radius: 10px;
        margin-bottom: 15px;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
        cursor: pointer;
    }
    .photo-galary-img img:hover{
        position: relative;
        top: -2px;
    }
</style>

<div class="photo-galary" >
    <div class="photo-galary-img">
        <img src="/static/photogalary/Vulture/4YDTJPGI0V2E.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Vulture/5LC157655XV3.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Vulture/6VZFKE7EM5HN.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Vulture/6XXAJD2JOX5P.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Vulture/6Y3HIZ5GLLJN.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Vulture/7VEXUIV33RBK.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Vulture/7XFONUBG355V.jpg" alt="img">
    </div>
    <div class="photo-galary-img">
        <img src="/static/photogalary/Vulture/8FYFFF13S057.jpg" alt="img">
    </div>
</div>